*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: rgba(49,97,224,255);
  height: 60px;
  justify-content: center;
  justify-content: space-between;

  /*altezza da togliere*/
}
.jumbotron{
  background-image: url('../img/jumbo.png');
  background-size: cover;
  display: flex;
  height: 600px;
  color: white;
  font-size: 25px;
}

.jumbotron .content .Bottoni a{
  padding: 10px;
}

.menu{
  margin: 0 auto;
  height: 50px;
  /*altezza da togliere*/
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  max-width: 70%;
  
}

.content{
  /*altezza da togliere*/
  text-align: center;
  max-width: 50%;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.content h1, p, h2{
  padding-bottom: 20px;
  padding-top: 20px;
}

.intro{
  /*altezza da togliere*/
  display: flex;
  justify-content: space-between;
}

.intro ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.intro ul li{
  float: left;
  padding: 10px;
}

.intro ul li a{
  text-decoration: none;
  color: white;
}

.bottone-bianco{
  background-color: white;
  border-radius: 5px;
  padding: 3px;
  color: #23272a;
}

a{
  text-decoration: none;
}

#bianco{
  background-color: white;
  color: #23272a;
  border-radius: 10px 10px;
  padding: 7px;
}

#nero{
  background-color:#23272a;
  color:white;
  border-radius: 10px 10px;
  padding: 7px;
}

.sezione{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  border: 1px solid black;
}

.sezione-big{
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

#celeste{
  background-color:#8ea1e1;
  color:white;
  border-radius: 10px 10px;
  padding: 7px;
}

#p-back{
  background-image: url('../img/stars.svg');
}


.column1{
  width: 70%;
  
}

.column2{
  /*altezza da togliere*/
  flex-direction: column;
  font-size: 25px;
  max-width: 30%;
  padding: 10px;
}
. column img{
  width: 400px;
  height: 400px;
}

.container{
  display: flex;
  /*altezza da togliere*/
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  max-width: 60%;

}


footer{
  background-color:#23272a;
  color: white;
  font-size: 20px;
}

footer .container{
margin: 0 auto;
display: flex;
justify-content: space-between;
padding: 20px;
align-items: flex-start;
}

.container #colonna{
  width: calc(100 / 3);
}

.container .colonne{
  width: calc(100 / 6);
  padding-top: 20px;
}

.container .colonne ul li{
  list-style-type: none;
  padding-bottom: 10px;
}

footer .container #colonna h3, ul li:first-child{
  color:#7289da;
}

.final{
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  /*altezza da togliere*/
  border-top: 2px solid #7289da;
  margin: 0 auto;
  color: white;
  padding-top: 20px;
}

.final a{
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px;
  background-color: #7289da;
}
}





